In [12]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./housing.data", header=None, sep="\s+")
df.columns = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]

### Series operation

In [5]:
s1 = Series(range(1, 6), index=list("abcde"))
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
s2 = Series(range(5, 11), index=list("bcdefe"))
s2

b     5
c     6
d     7
e     8
f     9
e    10
dtype: int64

In [ ]:
# index를 기준으로 연산 수행
# 겹치는 index가 없을 경우 NaN 값으로 변환

In [8]:
s1.add(s2)

a     NaN
b     7.0
c     9.0
d    11.0
e    13.0
e    15.0
f     NaN
dtype: float64

In [17]:
# Series에선 index 중복 허용
s1 + s2

a     NaN
b     7.0
c     9.0
d    11.0
e    13.0
e    15.0
f     NaN
dtype: float64

### DataFrame operation

In [13]:
df1 = DataFrame(np.arange(9).reshape(3, 3), columns=list("abc"))
df1

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [14]:
df2 = DataFrame(np.arange(16).reshape(4, 4), columns=list("abcd"))
df2

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
# df는 column과 index를 모두 고려
# add operation을 쓰면 NaN 값을 0으로 변환
# Operation types : add, sub, div, mul

In [15]:
df1 + df2

      a     b     c   d
0   0.0   2.0   4.0 NaN
1   7.0   9.0  11.0 NaN
2  14.0  16.0  18.0 NaN
3   NaN   NaN   NaN NaN

In [16]:
df1.add(df2, fill_value=0)

      a     b     c     d
0   0.0   2.0   4.0   3.0
1   7.0   9.0  11.0   7.0
2  14.0  16.0  18.0  11.0
3  12.0  13.0  14.0  15.0

In [18]:
df1.mul(df2, fill_value=0)

      a     b     c    d
0   0.0   1.0   4.0  0.0
1  12.0  20.0  30.0  0.0
2  48.0  63.0  80.0  0.0
3   0.0   0.0   0.0  0.0

### Series + DataFrame

In [19]:
df = DataFrame(np.arange(16).reshape(4, 4), columns=list("abcd"))
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [20]:
s = Series(np.arange(10, 14))
s

0    10
1    11
2    12
3    13
dtype: int64

In [22]:
df + s2

/var/folders/ql/gbsdt1191mbf_hk8mhnwwpd80000gn/T/ipykernel_11182/2397089007.py:1: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  df + s2

ValueError: cannot reindex on an axis with duplicate labels

In [23]:
df.add(s, axis=0)

    a   b   c   d
0  10  11  12  13
1  15  16  17  18
2  20  21  22  23
3  25  26  27  28